/*banner*/
.banner{width: 100%;}
.banner .slideBox{position:relative;overflow: hidden;margin: 0 auto;}
.banner .slideBox .hd{width: 100%;position: absolute;height: 1.5em;line-height:1.5em;margin: 0 auto;bottom:2.95em;right: 0;z-index: 99;text-align: center;}
.banner .slideBox .hd li{width: 0.325rem;height: 0.325rem;display: inline-block;-webkit-border-radius: 5px;-moz-border-radius: 50%;border-radius: 50%;text-indent: -9999px;overflow: hidden;margin: 0 0.1575rem;background: rgba(255,255,255,0.7);}
.banner .slideBox .hd li.on{background: #fff;}
.banner .slideBox .bd{position: relative;z-index:0;}
.banner .slideBox .bd li{position: relative;}
.banner .slideBox .bd li img{vertical-align: top;width: 100%;display: block;}
.banner .slideBox .bd li a{-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: block;height: 10.67rem;}
/*main*/
.main{width: 100%;background: #F1F2F7;height: auto;float: left;}
.informationmain{width: 100%;height: 9em;background: #FCFCFC;float: left;margin-bottom: 0.5em;position: relative;}
.information{width: 14.5em;height: 11.2em;background: #fff;position: absolute;bottom: 0.75em;margin: 0 0.75em;border-radius: 10px;-moz-box-shadow: 0px 20px 30px 0 rgba(0,0,0,0.1);box-shadow: 0px 20px 30px 0 rgba(0,0,0,0.1);}
.information .imtop{width: 100%;height: 2.8em;border-bottom: 0.025em solid #E4E7F0;float: left;}
.information .imtop .imttop{font-size: 0.6rem;color: #A1A6BB;width: 13.1rem;float: left;margin: 0.5rem 0 0 0.7rem;}
.information .imtop .imtcity{width: 13.1rem;float: left;margin: 0 0 0 0.7rem;}
.information .imtop .imtcity span{font-size: 0.75rem;color: #222328;}
.information .imtop .imtcity i{width: 0.3rem;height: 0.5rem;float: right;background: url(../../static/p_gt.png) no-repeat;background-size: 0.3rem 0.5rem;margin-top: 0.5rem;}
.information .imtime{width: 100%;height: 2.6em;border-bottom: 0.025em solid #E4E7F0;float: left;position: relative;}
.information .imtime .imtime_l{width: 7.2375em;border-right: 0.025em solid #E4E7F0;float: left;height: 100%;}
.information .imtime .imtime_l p{margin-left: 0.65rem;}
.information .imtime .imtime_l p.itpone{font-size: 0.6rem;color: #A1A6BB;margin-top: 0.4rem;}
.information .imtime .imtime_l p.itptwo{font-size: 0.75rem;color: #222328;;}
.information .imtime .imtime_l p.itptwo em{margin-left: 0.3rem;font-size: 0.6rem;}
.information .imtime .imtime_r{width: 7.2375em;float: left;height: 100%;}
.information .imtime .imtime_r p{margin-left: 2.3rem;}
.information .imtime .imtime_r p.itpthree{font-size: 0.6rem;color: #A1A6BB;margin-top: 0.4rem;}
.information .imtime .imtime_r p.itpfour{font-size: 0.75rem;color: #222328;;}
.information .imtime .imtime_r p.itpfour em{margin-left: 0.3rem;font-size: 0.6rem;}
.information .iminput{width: 100%;height: 2.625em;border-bottom: 0.025em solid #E4E7F0;float: left;}
.information .iminput p{float: left;margin-top: 0.875rem;}
.information .iminput p i{width: 1.05rem;height: 1.05rem;display: inline-block;background: url(../../static/iminput.png) no-repeat;background-size: 1.05rem 1.05rem;margin: 0 0.5rem 0 0.65rem;float: left;}
.information .iminput p input{width: 11.25rem;height: 1.05rem;font-size: 0.75rem;color: #222328;float: left;}
.information .iminput p input[placeholder=""]{color: #A1A6BB;}
.information .imbut{width: 100%;height: 3em;float: left;}
.information .imbut a{display: block;width: 13.35rem;height: 2rem;line-height: 2rem;background: #3B55E7;border-radius: 10px;margin: 0.5rem 0.575rem 0;font-size: 0.75rem;color: #fff;text-align: center;}
.information .imtime .imtime_sum{width: 2.15em;height: 1.05em;line-height: 1.05em;border: 0.025em solid #E4E7F0;border-radius: 50px;position: absolute;top: 0.8em;left: 6.1625em;background: #fff;}
.information .imtime .imtime_sum span{width: 100%;display: block;font-size: 0.6rem;color: #222328;text-align: center;}
.information .imtime .imtime_sum span i{font-size: 0.6rem;color: #222328;}
/*recommend*/
.recommend{width: 100%;height: auto;float: left;background: #fff;margin-bottom: 2.15em;}
.recommend_top{width: 100%;height: 2em;float: left;border-bottom: 0.025em solid #E4E7F0;}
.recommend_top span{font-size: 0.75rem;color: #222328;float: left;margin-top: 0.45rem;}
.recommend_top span i{margin-right: 0.425rem;display: inline-block;height: 0.7rem;width: 0.125rem;background: #3B55E7;float: left;margin-top: 0.18rem;}
.recommend_img{width: 100%;height: 4.85em;float: left;overflow: auto;}
.recommend_img ul{width: 25.95rem;height: 3.85rem;float: left;margin: 0.5rem 0 0 0.25rem;}
.recommend_img ul li{float: left;width: 5.8rem;height: 3.85rem;margin-left: 0.5rem;border-radius: 30px;overflow: hidden;}


/*mainbut*/
.mainbut{width: 100%;height: 2.125em;border-top: 0.025em solid #E4E7F0;position: fixed;left: 0;bottom: 0;z-index: 10;background: #fff;}
.mainbut a{float: left;width: 1.15rem;height: 2.125rem;}
.mainbut a.reservebut{margin-left: 3.85rem;}
.mainbut a.minebut{float: right;margin-right: 3.85rem;}
.mainbut a p{width: 100%;float: left;font-size: 0.55rem;color: #9B9B9B;text-align: center;}
.mainbut a.reservebut p{color: #3B55E7;}
.mainbut a p i{display: block;width: 0.95rem;height: 0.95rem;margin: 0.25rem 0.1rem 0.15rem;}
.mainbut a.reservebut p i{background: url(../../static/reservebut.png) no-repeat;background-size: 0.95rem 0.95rem;}
.mainbut a.minebut p i{background: url(../../static/minebut.png) no-repeat;background-size: 0.95rem 0.95rem;}













